<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Table first touch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3073BB6F1F20648A0086E5A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3073BB831F20648A0086E5A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3073BB8E1F20648A0086E5A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
